.cards > ul {
  list-style: none;
  margin: 40px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--dark-blue);
  color: var(--yellow);
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);

  .icon {
    background-color: var(--yellow);
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
    cursor: pointer;

    .icon {
      background-color: var(--dark-blue);
    }
  }
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}